// Navigation Styles here
.top-box {
  margin: 0 auto;
  width: 100%;
  height: 5%;
  border-bottom: 2px dashed @navigation-border;
  .display(space-between, center);

  .nav-box {
    width: 800px;
    margin: 0 auto;
    .display(space-between, center);

    @media @mobile {
      flex-direction: column;
    }

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: auto;
      padding-top: 10px;

      @media @mobile {
        justify-content: center;
      }
    }
    nav {
      align-self: flex-end;
      font-size: 175%;
      width: auto;
      padding-bottom: 5px;

      @media @mobile {
        align-self: auto;
        padding-top: 15px;
      }

      a {
        margin-left: 30px;
        color: black;

        &:hover {
          color: @button-bg;
          .easeOut();
        }
      }
    }
  }
}
